/* Container */
.home__contain_Right {
    margin-left: 30px;
    margin-right: 30px;
}

/* Search */
.home__right_bgSearch {
    background: rgba(239, 243, 244, .8);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0;
    margin-top: 5px;
}

.homeRight_magnifyingGlass--svg, .homeRight_magnifyingGlass--X {
    width: 19px;
    margin-left: 20px;
    padding-bottom: 2px;
}

.homeRight_bgSearchInput {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    width: 100%;
    margin-left: 1.5em;
    font-size: .9em;
}

.homeRight_magnifyingGlassBg {
    width: 6%;
}
.homeRight_InputBg {
    width: 88%;
}
.homeRight_XBg {
    opacity: .2;
    height: 18px;
    width: 6%;
}
.homeRight_magnifyingGlass--X {
    margin: 0px;
    padding: 0px;
}

/* What's going on */
.homeRight_Section {
    background: rgba(239, 243, 244, .7);
    border-radius: 15px;
    padding-bottom: 5px;
}

.homeRight_Section>p {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 0 0 15px;
}
.homeRight_trendPh {
    font-size: .9em;
    padding: 0;
    margin: 5px 0;
    font-weight: bold;
}
.homeRight_Section_Spacing {
    padding: 10px 10px 0 15px;
    transition-duration: .5s;
}

.homeRight_Section_Spacing:hover {
    background: rgba(229, 232, 233, .5);
    transition-duration: .5s;
}

.homeRight_trendText {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.homeRight_trendTexts {
    color: gray;
    font-size: .8em;
    font-weight: normal;
}
.imgFulvo {
    background-color: red;
    position: absolute;
    width: 65px;
    border-radius: 10px;
    right: 10px;
}
.homeRight_Section a {
    color: black;
    text-decoration: none;
}