.login__main--svg {
    width: 40px;
    text-align: center;
}

/* Inputs */
.login__contain_ancla a {
    text-decoration: none;
    font-size: .9em;
}

/* Button Next */
.login__contain_ancla {
    padding-left: 30px;
    margin-bottom: 10px;
}