.signup__container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.signup__container_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: white;
}

.signup__iconsTop {
    display: flex;
    align-items: center;
}

.signup__contain--bird {
    width: 50%;
    margin-top: 15px;
}

.signup__contain--bird .signup__pleft {
    margin-left: 15px;
}

.signup__main--svg {
    width: 33px;
    text-align: center;
}

/* Inputs */

.signup__contain_texts {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
}

.signup__contain_nextbutton, .signup__contain_nextNobutton {
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
}

.signup__contain_texts h1 {
    font-size: 1.4em;
    font-weight: 600;
}

.signup__contain_input, .signup__contain_noInput {
    display: flex;
    padding-left: 10px;
    margin-top: 25px;
    border-radius: 5px;
    color: gray;
}

.signup__contain_input {
    border: 1px solid rgb(204, 204, 204);
    padding-top: 10px;
    padding-bottom: 10px;
}
.signup__contain_noInput {
    border: 2px solid rgba(29, 161, 242, 1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.signup__contain_input input, .signup__contain_noInput input{
    border: none;
    outline: none;
    font-size: 1em;
    width: 80%;
    margin-left: 10px;
}

.signup__contain_input span, .signup__contain_noInput span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signup__contain_input--password {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ancla */
.signup__contain_ancla {
    margin-top: 40px;
}

.signup__contain_ancla a {
    color: rgb(27, 149, 224);
    text-decoration: none;
}

/* birthday */
.signup__contain_birthday h2 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 40px;
}

.signup__contain_birthday p{
    color: gray;
    margin-top: 5px;
    font-size: .9em;
}

/* DropDowns */
.signup__contain_dropdown {
    display: flex;
    justify-content: space-between;
}

.signup__dropdown_item select {
    padding: 15px 0 20px 0;
    height: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    color: gray;
    background-color: white;
    outline: none;
}

.signup__dropdown_item-one{
    width: 49%;
    margin-right: 10px;
}
.signup__dropdown_item-two{
    width: 25%;
    margin-right: 10px;
}
.signup__dropdown_item-three{
    width: 26%;
}

.signup__dropdown_item-one select, .signup__dropdown_item-two select, .signup__dropdown_item-three select {
    width: 100%;
}

/* Button Next */
.signup__contain_nextbutton input {
    font-size: 1em;
    font-weight: bold;
    color: white;
    border: none;
    width: 100%;
    border-radius: 50px;
    padding: 15px 0;
    background-color: rgba(29, 161, 242, .4);
    margin-bottom: 40px;
    margin-top: 15px;
}

.signup__contain_nextNobutton input {
    font-size: 1em;
    font-weight: bold;
    color: white;
    border: none;
    width: 100%;
    border-radius: 50px;
    padding: 15px 0;
    background-color: rgba(29, 161, 242, 1);
    margin-bottom: 40px;
    margin-top: 15px;
}

@media(min-width: 703px) {
    .signup__container {
        background-color: rgba(0, 0, 0, 0.4);
        width: 100vw;
        /* height: 100vh; */
        display: flex;
        align-items: center;
    }

    .signup__container_main {
        height: unset;
        width: 600px;
        position: relative;
        margin: 0 auto;
        border-radius: 15px;
    }  
}