.divProfile {
    position: relative;
}
.divProfile .profileImg {
    border-radius: 70px;
    border: 5px solid white;
    width: 140px;
    position: absolute;
    left: 13px;
    bottom: -12px;
}

.divProfile .bannerImg {
    width: 100%;
}

.divProfile input {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    padding: 5px 25px;
    background-color: rgba(255, 255, 255, 0);
    right: 0;
}
.divProfile input:hover {
    border: 1px solid rgba(255, 0, 38, .3);
}
.profileEdit {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    margin-top: 10px;
}
.FollowClass {
    font-weight: 500;
    color: white;
    background-color: black !important;
    transition-duration: .1s;
}
.FollowClass:hover {
    background-color: rgba(0, 0, 0, .8) !important;
}
.FollowingClass {
    font-weight: 500;
    transition-duration: .1s;
}
.FollowingClass:hover {
    background-color: rgba(255, 0, 38, .3);
    color: rgb(255, 0, 38);
}

.divProfileHeader {
    margin-top: 7px;
    line-height: 1;
    display: flex;
    align-items: center;
}
.divProfileHeader p {
    font-size: 1.2em;
    margin-bottom: 0;
    font-weight: 600;
}
.divProfileHeader small {
    font-size: .8em;
    color: rgb(109, 109, 109);
}
.divProfileHeader svg {
    width: 20px;
    margin-right: 42px;
    margin-left: 14px;
}

.divProfileBanner {
    margin-top: 10px;
    /* background-color: red; */
    position: relative;
}
.profileDesc, .profileMultimedia {
    margin-top: 25px;
    margin-left: 14px;
    margin-right: 14px;
}
.profileDescName {
    line-height: 1;
    margin-bottom: 20px;
}
.profileDesc .profileName {
    font-size: 1.2em;
    margin-bottom: 0;
    font-weight: 600;
}
.profileDesc small {
    color: rgb(109, 109, 109);
}
.profileDescText {
    display: block;
    margin-top: 10px;
    font-size: .9em;
}
.profileFollowers {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: .9em;
}
.profileMultimedia {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
    border-bottom: 1px solid var(--gray-light);
}
.profileMultimedia a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: .9em;
    padding: 10px;
}
.profileMultimedia .onlySection {
    padding-bottom: 10px;
    border-bottom: 4px solid var(--blue-buttontweet-click);
}
.profileMultimedia a:hover {
    background-color: rgba(7, 7, 7, .1);
    cursor: auto;
}
.btnModal {
    border: 1px solid rgb(182, 182, 182);
}